<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo marcado liebre">

        <!-- <div class="buscador">
            <p >Buscar productos, marcas</p>
            <i class="fas fa-search"></i>
        </div> -->
        <form action="POST" class="buscador" action="/search">
            <!-- <div class="buscador" action="#" method="GET"> -->
            <input class="input" placeholder="Buscar productos, marcas"></input>
            <button type="submit" class="search"><i class="fa fa-search"></i></button>
        <!-- </div> -->
        </form>

        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Sistema de administración de productos
        </h2>
    </div>
    <a href="#" class="hamburger-button"><i class="fas fa-bars"></i></a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Productos</a></li>
            <li><a href="/product/create">Nuevo</a></li>
            <!-- <li><a href="#">Vender</a></li> -->
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta<i class="fas fa-credit-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
</header>
