<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <title>Busqueda de productos</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo marcado liebre">
        </div>
    </header>

    <section class="form">
        <form action="" method="POST" class="search">
            <h2>Buscá el producto o servicio</h2>
            <div class="control-form">
                <label class="label">Categoría:</label>
                <select name="categoria" id=""class="control">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="precios">
                <div class="control-prec">
                    <input type="text" name="precio_desde" placeholder="Precio desde" class="precio">
                </div>
                <div class="control-prec">
                    <input type="text" name="precio_hasta" placeholder="Precio hasta" class="precio">
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="boton-formulario">Buscar</button>
            </div>
            
        </form>       
    </section>

    
</body>
</html>