@keyframes aparecer {
    0%{
        left: 50%;
    }
    100%{
        left: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: roboto;
}

.main-header{
    background-color:  #EAC926;
    padding: 20px;
}
    .main-header-top-bar{
        display: flex;
        flex-flow: row wrap;          
        flex: 1 1 auto;  
    }
        .logo {
            width: 150px;
            display: flex;
            flex: 2 1 40%;
        }
        
        .buscador {
            display: flex;
            flex: 2 1 40%;
            align-content: center;
        }
            .buscador p {
                background-color: #ebebeb;
                color: #666;
                border-radius: 4px 0px 0px 4px;
                text-align: left;
                /*margin-bottom: 2px;
                margin-right: 3px;
                border: solid 1px;*/
            }
            .input {
                background-color: #FFF;
                border: 1px solid #000;
                border-radius: 4px 4px 4px 4px;
                outline: none;
                color: #666;
                padding: 2px;            
            }
            .buscador i {
                background-color: #ebebeb;
                color:#666;
                /*margin-bottom: 2px;
                border: solid 1px;*/
                border-radius: 0px 4px 4px 0px;
                padding: 0px;
            }
            .buscador button{
                padding: 1px;
                width: 30px;
                background-color: #EAC926;
                border: none;
            }
            .buscador button i {
                background-color: #FFF;
                /* border: 1px solid #000; */
                color: #666;
                width: 100%;            
                height: 100%;
                /* border-radius: 0px 4px 4px 0px; */
                /* padding: 1px; */

            }
        .copy-header {
            position: relative;/* position relative para que no deje de ocupar espacio en el flujo de la web, pero permita que lo movamos */
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            display: flex;
            flex: 1 1 auto;
            animation: aparecer 500ms 1000ms 1 forwards;
            /* 
                animamos el elemento aplicando el keyframe "aparecer", 
                    con duración de medio segundo, 
                    delay de 1 seg.,  
                    e indicamos con ¨forwards¨ que queremos que el elemento se mantenga en la posición final de la animación.
            */

        }
    
.hamburger-button{
    background-color:  #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar{
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px; 
}

.img-banner{
    width: 100%;
}

/*===================== Main =====================*/
.main {
    margin: 5px;
    padding: 5px;
}

.main .ultima-visita .articulos  .descripcion i{
        position: absolute;
        display: block;
        font-size: 16px;
        width: 30px;
        height: 30px;
        padding: 5px;
        color:  #39b54a;
        border: 1px solid #39b54a;
        border-radius: 50%;
        background-color: #FFF;
        right: 20px;
        top: -15px;
}
    .ultima-visita{

    }
        .titulo {
            font-size: 24px;
        }
        .articulos{
            margin: 10px;
        }
        .product_img {
            width: 90%;
        }
        .descripcion{
            position: relative;
            margin-top: 1px;
            padding: 0px 15px;
            border-top:#ebebeb solid 1px;
            /*background-color: gold;*/
        }
            .precios {
                padding-top: 7px;
                font-size: 18px;
            }
            .descuento {
                font-size: 16px;
                color:  #39b54a;
                padding-top: 7px;
            }
            .titulares{
                padding: 5px;
                font-size: 0px;
                /* display: none; */
                transition: display 1300ms ;
            }

            /* M04C07 */
            main section article:hover .titulares{ font-size: 16px;}
            main section article {
                transition: 400ms;
            }
            main section article:hover {
                box-shadow: 0px 0px 10px rgb(100, 100, 100);
            }
            /* Ofertas */
            main section article:hover .tit-of{ font-size: 16px;}


.main .ofertas .art-ofertas  .descripcion-of i{
    display: block;
    font-size: 16px;
    width: 30px;
    height: 30px;
    padding: 5px;
    color:  #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #FFF;
    right: 20px;
    position: absolute;
    top: -15px;
}
    .ofertas{

    }
        .titulares-of {
            font-size: 24px;
        }
        .art-ofertas{
            margin: 10px;
        }
        .product_img_of {
            width: 90%;
        }
        .descripcion-of{
            margin-top: 1px;
            padding: 0px 15px;
            border-top:#ebebeb solid 1px;
            position: relative;
        }
            .prec-of {
                font-size: 18px;
                padding-top: 7px;
            }
            .desc-of {
                font-size: 16px;
                color:  #39b54a;
                padding-top: 7px;
            }
            .tit-of{
                font-size: 0px;
                padding: 5px;
            }
        
            
/*=====================Footer=====================*/
.footer{
    background-color: #ebebeb;
    margin: 0%;
    width: 100vw;
    padding: 5%;
}    
    .footer i {
        color: #1259c3;
        margin-left: 45%;
        background-color: #ebebeb;
        margin-bottom: 10px;
        font-size: 2em;
    }
    /* M04C07 */
    .footer i:hover { 
        color: #39b54a;
        transform: scale(1.2);
    }
    .foot-i {
        background-color: #ebebeb;
    }
    .foot-section{
        background-color: #ebebeb;
        margin-bottom: 5px;
    }  
    .foot-art{
        background-color: #ebebeb;
    }
    .foot-art p {
        background-color: #ebebeb;
        text-align: center;
    }
    .foot-art h3 {
        background-color: #ebebeb;
        text-align: center;
    }
    .foot-art h5 {
        background-color: #ebebeb;
        margin-top: 20px;
    }

@media(min-width: 768px) {
    .main-header-top-bar{
        /*border: dotted;*/
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        flex-wrap: wrap;
        align-items: center;
    }
        .logo{
            max-width: 200px;
            flex: 3 1 30%;
        }
        .buscador{
            flex: 3 1 30%;
            margin-left: 10px;
        }
            .buscador p {
                border: solid 1px;
                border-radius: 4px;
            }
            .buscador i {
                border: solid 1px;
                margin-left: 2px;
                border-radius: 4px;
            }
        .copy-header{
            max-width: 350px;
            text-align: right;
            flex: 3 1 30%;
        }

    .hamburger-button{
        display: none;
    }
    
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }


    .main{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
        .titulo{
            flex: 1 1 100%;
        }
        .ultima-visita{
            display: flex;
            flex: 2 1 auto;
            flex-flow: row wrap;
        }
            .articulos{
                /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
                flex: 1 1 40%;
            }
            .descripcion{
                display: flex;
                flex: 2 1 auto;
                flex-flow: row wrap;
            }
            /*.main .ultima-visita .articulos  .descripcion i{
                flex: 1 1 100%;
            }*/
                .precios{
                    flex: 1 1 40%;
                }
                .descuento{
                    flex:1 1 60%;
                }
                .titulares{
                    flex:1 1 100%;
                    flex-flow: row wrap;
                }

        /*=======Ofertas=======*/
        .titulares-of{
            flex: 1 1 100%;
        }
        .ofertas{
            display: flex;
            flex: 2 1 auto;
            flex-flow: row wrap;
        }
            .art-ofertas{
                /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
                flex: 1 1 40%;
            }
            .descripcion-of{
                display: flex;
                flex: 2 1 auto;
                flex-flow: row wrap;

            }
                .prec-of{
                    flex: 1 1 40%;
                }
                .desc-of{
                    flex:1 1 60%;
                }
                .tit-of{
                    flex:1 1 100%;
                    flex-flow: row wrap;
                }
}

@media(min-width:1200px){
    .logo{
        width: 350px;
    }

    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }

    .main-header-top-bar{
        align-items: center;
    }

    .copy-header{
        max-width: none;
        margin: 0;
        font-size: 22px;
        font-weight: 400;
    }

    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 19px;
    }

    /*========Ultima visita ========*/
    .ultima-visita{
        display: flex;
        flex: 4 1 auto;
        flex-flow: row wrap;
    }
        .articulos{
            flex: 1 1 20%;
        }
    /*========Ofertas ========*/
    .ofertas{
        display: flex;
        flex: 4 1 auto;
        flex-flow: row wrap;
    }
        .art-ofertas{
            flex: 1 1 20%;
        }
    /* Footer desktop M04C07*/
    .footer{
        display: flex;
        flex-flow: row wrap;
    }
        .foot-section{
            flex: 3 1 30%;
        }

}